{% extends 'rest_framework/login_base.html' %}


{% block branding %}
<div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 5px">
    <h3 style="margin: 0">Login</h3>
    <a href="{% url 'users:sign-up' %}">
        <button type="submit" class="btn my-2 my-sm-0">Sign up</button>
    </a>
</div>
{% endblock %}

