{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Registration</h1>

<form action="{% url 'users:sign-up' %}" method="POST">
    {{ form }}
    {% csrf_token %}
    <button class="btn btn-success m-2">Submit</button>
</form>

{% endblock %}
