<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
    <title>Document</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between px-5">
    <a class="navbar-brand" href="#">Welcome</a>

    {% if user.is_authenticated %}
    <form action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger my-2 my-sm-0">Log out</button>
    </form>
    {% else %}
    <div>
        <a href="{% url 'users:sign-in' %}">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Login</button>
        </a>

        <a href="{% url 'users:sign-up' %}">
            <button type="submit" class="btn btn-outline-info my-2 my-sm-0">Sign up</button>
        </a>
    </div>
    {% endif %}
</nav>

<div class="container d-flex flex-column justify-content-center mb-5">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
