{% extends "base.html" %}
{% load static %}

{% block content %}
<div id='editor_holder'></div>
{% if user.is_authenticated %}
<button id='btn-submit' class="btn btn-success">Submit</button>
{% endif %}

<script>

    const btnSubmit = document.getElementById('btn-submit')

    // Initialize the editor with a JSON schema
    JSONEditor.defaults.options.theme = 'bootstrap4';
    var editor = new JSONEditor(document.getElementById('editor_holder'),
        {
            "disable_array_delete": "{{ user.is_authenticated }}" === 'False',
            "disable_edit_json": "{{ user.is_authenticated }}" === 'False',
            "disable_properties": "{{ user.is_authenticated }}" === 'False',
            "disable_array_add": "{{ user.is_authenticated }}" === 'False',
            schema: {
                "title": "Server settings",
                "type": "object",
                "required": [
                    "server"
                ],
                "properties": {
                    "server": {
                        "title": "Server",
                        "type": "object",
                        "required": [
                            "name",
                            "app_host",
                            "app_port",
                            "timeout",
                            "logging",
                            "check_modbus_interval",
                            "check_modbus_interval_after_failed_attempt",
                            "modbus_servers",
                        ],
                        "properties": {
                            "id": {
                                "options": {"hidden": true},
                            },
                            "name": {
                                "title": "Server name",
                                "type": "string",
                                "minLength": 4,
                                "default": "Roomio Server"
                            },
                            "app_host": {
                                "title": "Rest server IP",
                                "type": "string",
                                "default": "0.0.0.0",
                                "description": "Use 0.0.0.0 for access from all connected networks"
                            },
                            "app_port": {
                                "title": "Rest server port",
                                "type": "integer",
                                "default": 1880,
                                "description": "port to rest request "
                            },
                            "timeout": {
                                "title": "Timeout",
                                "type": "number",
                                "description": "Timeout in seconds for connecting to Modbus server",
                                "default": 2
                            },
                            "logging": {
                                "title": "Log level",
                                "type": "string",
                                "description": "Debug only for debugging ",
                                "enum": [
                                    "INFO",
                                    "DEBUG"
                                ]
                            },
                            "check_modbus_interval": {
                                "title": "Check modbus interval",
                                "type": "number",
                                "description": "Period in seconds for check the modbus server available.",
                                "default": 60
                            },
                            "check_modbus_interval_after_failed_attempt": {
                                "title": "Check modbus interval after fail",
                                "type": "number",
                                "description": "A period in seconds for waiting to connect to the modbus server after failed connect attempt",
                                "default": 120
                            },
                            "modbus_servers": {
                                "type": "array",
                                "title": "Modbus Servers",
                                "items": {
                                    "type": "object",
                                    "title": "Modbus server",
                                    "required": [
                                        "device_name",
                                        "hrc_ip",
                                        "hrc_port",
                                        "unit_id",
                                        "device_template_id",
                                        "room",
                                        "device_active",
                                        "device_locations",
                                        "scenes"
                                    ],
                                    "properties": {
                                        "id": {
                                            "options": {"hidden": true},
                                        },
                                        "server": {
                                            "options": {"hidden": true},
                                        },
                                        "device_name": {
                                            "title": "Modbus server name",
                                            "type": "string",
                                            "default": "HRC room 163"
                                        },
                                        "hrc_ip": {
                                            "title": "Modbus address",
                                            "type": "string",
                                            "default": "0.0.0.0",
                                            "description": "Hostname or ip address of Modbus server"
                                        },
                                        "hrc_port": {
                                            "title": "Modbus port",
                                            "type": "integer",
                                            "default": 502,
                                            "description": "Port of Modbus server for connect."
                                        },
                                        "unit_id": {
                                            "title": "unit_id",
                                            "type": "integer",
                                            "description": "Id of current slave on Modbus.",
                                            "default": 255
                                        },
                                        "device_template_id": {
                                            "title": "Modbus Device Tempplate",
                                            "type": "integer",
                                            "description": "Id of modbus template",
                                            "default": 1,
                                            "enum": [
                                                1
                                            ]
                                        },
                                        "room": {
                                            "title": "Room",
                                            "type": "integer",
                                            "description": "The room number that the device controls.",
                                            "default": 1
                                        },
                                        "device_active": {
                                            "title": "Device is active",
                                            "type": "boolean",
                                            "default": "true",
                                            "description": "If false device will be ignored"
                                        },
                                        "device_locations": {
                                            "title": "Device locations",
                                            "type": "array",
                                            "description": "List of places in room with diveces inside",
                                            "items": {
                                                "type": "object",
                                                "title": "location.deviceLocation",
                                                "required": [
                                                    "device_location",
                                                    "tags"
                                                ],
                                                "properties": {
                                                    "id": {
                                                        "options": {hidden: true}
                                                    },
                                                    "modbus_server": {
                                                        "options": {hidden: true}
                                                    },
                                                    "device_location": {
                                                        "id": "Location name",
                                                        "title": "Location name",
                                                        "type": "string",
                                                        "default": "master"
                                                    },
                                                    "tags": {
                                                        "title": "Tags",
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "title": "Tag",
                                                            "required": [
                                                                "modbus_id"
                                                            ],
                                                            "properties": {
                                                                "id": {
                                                                    "options": {hidden: true}
                                                                },
                                                                "location": {
                                                                    "options": {hidden: true}
                                                                },
                                                                "modbus_id": {
                                                                    "title": "modbusID",
                                                                    "type": "number",
                                                                    "default": 123
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "scenes": {
                                            "title": "Scenes",
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "title": "Scene",
                                                "required": [
                                                    "name",
                                                    "tags_and_value"
                                                ],
                                                "properties": {
                                                    "id": {
                                                        "options": {hidden: true}
                                                    },
                                                    "modbus_server": {
                                                        "options": {hidden: true}
                                                    },
                                                    "name": {
                                                        "title": "Scene name",
                                                        "type": "string",
                                                        "default": "welcome"
                                                    },
                                                    "tags_and_value": {
                                                        "title": "Tags and value",
                                                        "type": "object",
                                                        "required": [
                                                            "modbus_id",
                                                            "value"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "options": {hidden: true}
                                                            },
                                                            "scene": {
                                                                "options": {hidden: true}
                                                            },
                                                            "modbus_id": {
                                                                "title": "modbusID",
                                                                "type": "number",
                                                                "default": 123
                                                            },
                                                            "value": {
                                                                "title": "value",
                                                                "type": "number",
                                                                "default": 1
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        });

    const BASE_URL = 'http://localhost:8000/'
    const SERVERS = BASE_URL + 'main/server/'
    const MODBUS_SERVERS = BASE_URL + 'main/modbus-server/'
    const LOCATIONS = BASE_URL + 'main/location/'
    const SCENES = BASE_URL + 'main/scene/'
    const TAGS = BASE_URL + 'main/tag/'
    const TAGS_VALUE = BASE_URL + 'main/scene-tag/'

    editor.on('ready', async () => {
        const server = JSON.parse("{{ data|escapejs }}")
        Object.entries(server).forEach(item => {
            if (!item[1]) {
                delete server[item[0]]
            }
        })
        console.log(server)
        editor.setValue({'server': server})

        editor.on('deleteRow', deletedValue => {
            if (!deletedValue.id) {
                return
            }
            if (deletedValue.device_name) {
                handleRemoveItem(MODBUS_SERVERS + deletedValue.id.toString())
            }
            if (deletedValue.device_location) {
                handleRemoveItem(LOCATIONS + deletedValue.id.toString())
            }
            if (deletedValue.name) {
                handleRemoveItem(SCENES + deletedValue.id.toString())
            }
            if (deletedValue.modbus_id && deletedValue.value) {
                handleRemoveItem(TAGS_VALUE + deletedValue.id.toString())
            }
            if (deletedValue.modbus_id) {
                handleRemoveItem(TAGS + deletedValue.id.toString())
            }

        });
    })

    if (btnSubmit) {
        btnSubmit.addEventListener('click', handleUpdateServer.bind(editor))
    }

    async function handleUpdateServer() {
        const values = this.getValue()
        const server = values.server
        const modbus_servers = server['modbus_servers']

        const new_server = await handleUpdateForm(SERVERS, server)
        server.id = new_server.id

        for (let modbus_server of modbus_servers) {
            modbus_server.server = server.id
            if (!modbus_server.id) delete modbus_server.id
            const new_modbus_server = await handleUpdateForm(MODBUS_SERVERS, modbus_server)
            modbus_server.id = new_modbus_server.id

            if (modbus_server.device_locations.length) {
                for (let location of modbus_server.device_locations) {
                    location.modbus_server = modbus_server.id
                    if (!location.id) delete location.id

                    const new_location = await handleUpdateForm(LOCATIONS, location)
                    location.id = new_location.id

                    if (location.tags.length) {
                        for (let tag of location.tags) {
                            tag.location = location.id
                            if (!tag.id) delete tag.id
                            const new_tag = await handleUpdateForm(TAGS, tag)
                            tag.id = new_tag.id
                        }
                    }
                }
            }

            if (modbus_server.scenes.length) {
                for (let scene of modbus_server.scenes) {
                    scene.modbus_server = modbus_server.id
                    if (!scene.id) delete scene.id
                    const new_scenes = await handleUpdateForm(SCENES, scene)
                    scene.id = new_scenes.id

                    if (scene.tags_and_value) {
                        scene.tags_and_value.scene = scene.id
                        if (!scene.tags_and_value.id) delete scene.tags_and_value.id
                        const new_tags_value = await handleUpdateForm(TAGS_VALUE, scene.tags_and_value)
                        scene.tags_and_value.id = new_tags_value.id
                    }
                }
            }
        }

        editor.setValue({'server': server})
    }

    async function handleUpdateForm(url, data) {
        const response = await fetch(url, {
            method: 'PUT',
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{csrf_token}}"
            },
            body: JSON.stringify(data)
        })
        return await response.json()
    }

    function handleRemoveItem(url) {
        fetch(url, {
            method: 'DELETE',
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{csrf_token}}"
            }
        })
    }
</script>
{% endblock %}
